
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* Reset CSS */
* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; color: #000;}
ul { list-style: none; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; }
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
/* Button */
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  outline: none;
  border: none;
}
.btn {
  padding: 15px 20px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 24px;
  cursor: pointer;
  transition: .3s;
}
.btn-black {
  background-color: #333;
  color: #fff;
}
.btn-black:hover {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
}
.btn-black:active {
  background-color: #fff;
  border: 1px solid transparent;
}

/* Main */
.main {
  position: relative;
  background: linear-gradient(to bottom, #348AC7, #7474BF);
  color: #fff;
}
.main-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main-text {
  margin-top: 40px;
  width: 40%;
}
.main-text h1 {
  font-weight: 600;
  font-size: 26px;
}
.main-text p {
  margin-top: 20px;
  font-weight: 300;
  font-size: 16px;
}
.main-container img {
  margin-top: 80px;
  width: 260px;
}

/* Project */
.project {
  height: 300px;
  position: relative;
}
.project-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.project-container h3 {
  font-weight: 600;
}
.project-container p {
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
}

/* Services */
.services {
  background-color: #7474BF;
  color: #fff;
  padding: 50px 0;
}
.services-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.services-text span {
  font-size: 14px;
  font-weight: 300;
}
.services-text h2 {
  margin-top: -5px;
  font-weight: 500;
}
.services-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.services-items div {
  width: 25%
}
.services-items i {
  background-color: #fff;
  color: #7474BF;
  font-size: 40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 20px;
}
.services-items h5 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
}
.services-items p {
  font-weight: 300;
  font-size: 12px;
}

/* Portfolio */
.portfolio {
  margin-top: 50px ;
}
.portfolio-text {
  text-align: center;
}
.portfolio-text span {
  font-size: 14px;
  font-weight: 300;
}
.portfolio-text h2 {
  margin-top: -5px;
  font-weight: 500;
}
.portfolio-items {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}
.portfolio-item {
  width: 50%;
  height: 100%;
  position: relative;
}
.portfolio-item img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.portfolio-item:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s;
}
.portfolio-sub {
  position: absolute;
  top: 80px;
  left: 50px;
  color: #fff;
  z-index: 2;
}
.portfolio-sub h4 {
  font-size: 20px;
}
.portfolio-sub p {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
}
.white-box {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  transition: .3s;
  z-index: 3;
  cursor: pointer;
}
.white-box:hover {
  border: 30px solid #fff;
}
.portfolio-item:hover:after {
  background-color: transparent;
}

/* Footer */
.footer {
  width: 100%;
  padding: 80px 0;
  background-color: #348AC7;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  font-weight: 600;
  font-size: 24px;
}
.footer-sitemap a {
  margin-right: 20px;
  transition: .3s;
}
.footer-sitemap a:hover,
.footer-icons a:hover {
  color: #aaa;
}
.footer-sitemap p,
.footer-sub {
  margin-top: 12px;
  font-size: 12px;
}
.footer-icons i {
  margin-right: 20px;
  font-size: 20px;
  transition: .3s;
}
.footer-icons a:hover i {
  transform: scale(1.1);
}


@media screen and (max-width : 768px) {
  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  /* Main */
  .main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

  }
  .main-text {
    width: 100%;
    margin-top: 60px;
  }
  .main-text h1 {
    font-size: 32px;
  }
  .main-text p {
    margin: auto;
    margin-top: 20px;
    font-size: 14px;
    width: 50%;
  }

  /* Project */
  .portfolio-sub {
    top: 50%;
    left: 50%;
    transform: translate(-70%,-50%);
  }
  .project-container h3 {
    width: 100%;
    font-size: 26px;
  }
  .project-container p {
    font-size: 14px;
    margin-top: 10px;
  }

  /* Services */
  .services-text span {
    font-size: 16px;
  }
  .services-text h2 {
    font-size: 28px;
  }
  .services-items {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 40px;
  }
  .services-items div {
    width: 30%;
  }
  .services-items i {
    margin-top: 10px;
  }
  .services-items h5 {
    font-size: 18px;
  }
  .services-items p {
    font-size: 14px;
  }

  /* Portfolio */
  .portfolio-text span {
    font-size: 16px;
  }
  .portfolio-text h2 {
    font-size: 28px;
  }
  .portfolio-items {
    display: flex;
    flex-direction: column;
  }
  .portfolio-item {
    width: 100%;
  }
  .portfolio-sub h4 {
    font-size: 24px;
  }
  .portfolio-sub p {
    font-size: 14px;
  }
  .white-box:hover {
    border: 30px solid #fff;
  }

  /* Footer */
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-info {
    width: 100%;
    flex-direction: column;
  }
  .footer-sitemap {
    margin-top: 30px;
  }
  .footer-sitemap a {
    margin: 0 10px;
  }
  .footer-sitemap p,
  .footer-sub {
    margin-top: 10px;
  }
  .footer-sns {
    margin-top: 30px;
  }
  .footer-icons i {
    margin: 0 10px;
  }
}
